{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_user_menu.jinja2' %}

{% from 'macros/comments.jinja2' import comment_label_options_template, render_single_comment with context %}
{% from 'macros/links.jinja2' import group_linked, username_linked %}
{% from 'macros/topics.jinja2' import render_topic_for_listing with context %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block header_context_link %}
<a class="site-header-context" href="/user/{{ user.username }}">{{ user.username }}</a>
{% endblock %}

{# Only show the heading if they can't see the type tabs and the user isn't deleted #}
{% block main_heading %}
  {% if not user.is_deleted and not request.has_permission("view_history", user) %}
    {{ user.username }}'s recent activity
  {% endif %}
{% endblock %}

{% block content %}
{% if user.is_deleted %}
  <div class="empty">
    <h2 class="empty-title">This user has deleted their account</h2>
    <div class="empty-action"><a href="/" class="btn btn-primary">Back to the home page</a></div>
  </div>
{% else %}
  {% if request.has_permission("view_history", user) %}
    <div class="listing-options">
      <menu class="tab tab-listing-order">
        <li class="tab-item{{' active' if not post_type else ''}}">
          <a href="{{ request.current_listing_normal_url() }}">All activity</a>
        </li>
        <li class="tab-item{{' active' if post_type == 'topic' else ''}}">
          <a href="{{ request.current_listing_normal_url({'type': 'topic'}) }}">Topics</a>
        </li>
        <li class="tab-item{{ ' active' if post_type == 'comment' else ''}}">
          <a href="{{ request.current_listing_normal_url({'type': 'comment'}) }}">Comments</a>
        </li>
      </menu>
    </div>
  {% endif %}

  {% if posts %}
    <ol class="post-listing">
    {% for post in posts if request.has_permission('view', post) %}
      <li>
      {% if post is topic %}
        {{ render_topic_for_listing(post, show_group=True) }}
      {% elif post is comment %}
        <h2>Comment on <a href="{{ post.topic.permalink }}">
          {% if post.topic.is_deleted and not post.topic.title %}
            &lt;deleted topic&gt;
          {% else %}
            {{ post.topic.title }}
          {% endif %}
        </a> in {{ group_linked(post.topic.group.path) }}</h2>
        {{ render_single_comment(post) }}
      {% endif %}
      </li>
    {% endfor %}
    </ol>

    {% if request.has_permission("view_history", user) and (posts.has_prev_page or posts.has_next_page) %}
      <div class="pagination">
        {% if posts.has_prev_page %}
          <a class="page-item btn" id="prev-page"
            href="{{ request.current_listing_base_url({'before': posts.prev_page_before_id36}) }}"
          >Prev</a>
        {% endif %}

        {% if posts.has_next_page %}
          <a class="page-item btn" id="next-page"
            href="{{ request.current_listing_base_url({'after': posts.next_page_after_id36}) }}"
          >Next</a>
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    <div class="empty">
      <h2 class="empty-title">This user hasn't made any posts</h2>
    </div>
  {% endif %}
{% endif %}

{{ comment_label_options_template(comment_label_options) }}

{% endblock %}

{% block sidebar %}
{% if user == request.user %}
  {{ super() }}
<hr>
{% endif %}

<h2>User info</h2>
<dl>
  <dt>Registered</dt>
  <dd>{{ user.created_time.strftime('%B %-d, %Y') }}</dd>
</dl>

{% if request.has_permission('message', user) %}
  <a href="/user/{{ user.username }}/new_message" class="btn btn-primary">Send a private message</a>
{% endif %}
{% endblock %}
